# Fieldbook data
/fieldbook
/www/attachments

# Logs
logs
*.log
npm-debug.log*

# Config
/config.json
/deploy.*

# Mac
.DS_Store

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Python
*.pyc

# SASS
www/assets/css/main.css
