/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}*/

body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333;
}

h2 {
    margin-top: 50px;
}

header {
    position: relative;
    height: 500px;
    background: black;
    overflow: hidden;
}

header .bg-banner {
    background: url('img/earth.png') center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 500px;
    opacity: 0.5;
    transition: transform 10s;
}

header .bg-banner:hover {
    transform: scale(1.1)
}

header .logo {
    position: absolute;
    width: 70px;
    height: 100px;
    background-image: url('img/logo.png');
    background-size: 70px 100px;
    top: 50px;
    left: 50px;
}

header h1 {
    position: absolute;
    top: 54px;
    left: 133px;
    color: white;
    margin: 0;
}

header .tagline {
    position: absolute;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 217px;
    left: 0;
    right: 0;
    width: 500px;
    text-align: center;
}

section#content {
    width: 960px;
    margin: 0px auto 50px auto;
}

footer {
    color: #ccc;
    background-color: #18184c;
    padding: 20px;
    font-size: 16px;
}

footer .wrapper {
    width: 960px;
    margin: 20px auto;
    display: flex;
}

footer .copyright {
}

footer .contact {
    margin-left: auto;
}

footer .contact a {
    color: inherit;
}
